@font-face { 
	font-family: 'Segoe UI';
	font-style: normal;
	font-weight: 400;
	src: local('Segoe UI'), local('Segoe UI Regular'),
		url('../fonts/SegoeUI.eot'),
		url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI.woff') format('woff'),
		url('../fonts/SegoeUI.ttf') format('truetype'),
		url('../fonts/SegoeUI.svg#webfont') format('svg');
}
