*.swp
*.swo
*~
.DS_Store
.sass-cache
iOS/Checkout Express/www/*
server/Checkout Express/war/WEB-INF/appengine-generated
server/Checkout Express/war/js
server/Checkout Express/war/css
server/Checkout Express/war/img
server/Checkout Express/war/fonts
