*
!/.gitignore
!/Checkout_Express.css
!/WEB-INF/
!/WEB-INF/**
/WEB-INF/web.xml
/WEB-INF/appengine-generated/
/WEB-INF/classes/
/WEB-INF/deploy/
/WEB-INF/lib/*appengine*.jar
/WEB-INF/lib/*gwt*.jar
!/Checkout_Express.html
!/checkout_express/
!/checkout_express/**
!/favicon.ico
