@import "../../_ignore/main.scss";
@import "globals.scss";

@-webkit-keyframes pay-blink { 
   50% { border-color: #F00; } 
}

.tickets .ticket .payments {
	position: absolute;
	height: calc(100% - #{2*$padding});
	width: calc(33% - #{2*$padding});
	padding: $padding;
	right: 0%;

	& > ul {
		list-style: none;
		padding: 0px;
	}

	.payment {
		border: $border;
		padding: 0.5em;
		margin-bottom: 1em;
		cursor: pointer;
		div { cursor: auto; }

		.card-info {
			p {	margin: 0px 0px 1em 0px; }
		}
		.messages {
			& > * {
				width: calc(33% - 0.34em);
				display: inline-block;
			}
			.success {
				color: #0A0;
			}
			.fail {
				color: #A00;
			}
			.update {
			}
		}

		&.paid, &.failed {
			.messages a { display: none; }
		}
		@mixin bold-msg($msg) {
			&.#{$msg} .messages a[msg="#{$msg}"] {
				font-weight: bold;
				display: inline-block;
			}
		}
		&.paid {
			background: #AFA;
			.messages .success { font-weight: bold; display: inline-block; }
		}
		&.failed {
			background: #FAA;
			@include bold-msg(limit);
			@include bold-msg(invalid);
			@include bold-msg(reject);
			@include bold-msg(paid);
			@include bold-msg(tech);
			@include bold-msg(other);
		}
		&.none {
			@include bold-msg(enqueue);
			@include bold-msg(terminal);
			@include bold-msg(processing);
		}

		.card-info, .messages { display: none; }
		&.focus { &>a { display: none } &>div { display: block; } }

		&.notification {
			-webkit-animation: pay-blink .5s step-end infinite alternate;
		}
	}
}
