@import "../sass-lib/main.scss";

#ask-split-page h2, #ask-split-page p {
	padding: 0px 1em;
}

#ask-split-page p {
	padding-top: 3.5em;
}

#ask-split-page a {
	@include btn-base(0.2em 0px, 0.25em 0px 0.15em 0px);
	@include btn-gradients("568CBE", "2C589B", "6798C5", "4269A5");
	font-size: 1.5em;
	width: 3em;
}

#ask-split-page a.yes {
	position: absolute;
	left: 0px;
	margin-left: 25%;
}

#ask-split-page a.no {
	position: absolute;
	right: 0px;
	margin-right: 25%;
}
