body {
  font-family: HelveticaNeueLTPro-Roman, HelveticaNeueLTPro-Md, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

h2 {
  font-weight: normal;
  font-size: 1em;
  text-decoration: underline; }

@media screen {
  .print-only {
    display: none; } }

