@import "../../_ignore/main.scss";

body {
	@include helvetica();
}

table {
	margin: 0px 2em;
}

td:first-child {
	font-weight: bold;
	padding-right: 2em;
	vertical-align: top;
}

td:last-child {
	padding-bottom: 1em;
} 
