#footer {
  position: relative;
  height: 3.1em;
  width: 100%;
  overflow: hidden;
  background: #FFF;
  border-top: 1px solid #999; }

.tall #footer {
  position: absolute;
  bottom: 0px; }

#footer span {
  position: absolute;
  bottom: 1.7em;
  right: 8.3em;
  font-size: 0.7em;
  width: 20em;
  text-align: right; }

#footer img {
  height: 2.5em;
  position: absolute;
  bottom: 0.3em;
  right: 0.3em; }

#footer h5 {
  font-size: 0.5em;
  font-weight: normal;
  margin: 1em;
  position: absolute;
  bottom: 0px; }
