@import "../../_ignore/main.scss";
@import "../../website/_style/style.scss";

p img {
	display: block;
	margin: 20px auto;
	box-shadow: 0px 0px 15px
}

h1 span {
	font-weight: 300;
	font-size: 0.7em;
}

#tl-dr h1 span {
	font-size: 1em;
}
