@import "../../_ignore/main.scss";

html {
	background: #e9eaed;
}

body {
	color: #333;
	background: #FFF;
	box-shadow: 0px 0px 0px 1px #777;
	@include helvetica();
	font-weight: 300;
	display: block;
	max-width: 800px;
	margin: auto;
}

#logo {
	$h: 0.3em;
	display: block;
	padding: 25px;
	height: $h;
	position: relative;
	img {
		position: absolute;
		height: $h;
	}
	& > span {
		position: absolute;
		right: 0px;
		padding-right: 25px;
		top: 25px;
		display: block;
		font-family: Damion;
		$fzFactor: 0.15;
		font-size: #{$fzFactor * 1em};
		height: #{$h / $fzFactor};
		line-height: #{$h / $fzFactor};
		color: #393939;
	}
}

h2 {
	margin-top: 0px;
}

#nav {
	position: relative;
	margin-bottom: 25px;
	height: 32px;
	padding: 1px 0px;
	background: rgba(67, 209, 164, 0.98);
	color: #FFFFFF;
	text-shadow: 1px 1px rgba(0,0,0,0.1);
	box-shadow: inset 0px 1px rgba(0,0,0,0.25), inset 0px 2px rgba(255,255,255,0.1), inset 0px -1px rgba(0,0,0,0.25);
	
}

#nav a {
	color: inherit;
	display: inline-block;
	width: 20%;
	text-align: center;
	line-height: 2em;
	text-decoration: none;
	box-shadow: 1px 0px rgba(0,0,0,0.2);
}
#nav a:last-child {
	position: absolute;
	right: 0px;
	bottom: 0px;
	box-shadow: none;
}

.scroll #nav {
	position: fixed;
	top: 0px;
	width: 100%;
	max-width: 800px;
	z-index: 1;
	padding-top: 0px;
	box-shadow: 0px 1px rgba(0, 0, 0, 0.1), inset 0px -1px rgba(0,0,0,0.25);
}

.scroll #content {
	margin-top: 59px;
}

#content {
	position: relative;
	padding-bottom: 50px;
}

#content > div {
	border-bottom: 1px solid #AAA;
	padding: 0px 25px;
	position: relative;
}
#content > div:last-child {
	border-bottom: none;
}

#content .anchor {
	display: inline-block;
	height: 0px;
	width: 0px;
	overflow: hidden;
	position: absolute;
	top: -54px;
}

.member {
	max-width: 290px;
	margin-bottom: 16px;
	padding-right: 25px;
}

.member img {
	margin-right: 1em;
	width: 85px;
	border-radius: 1em;
	position: absolute;
}

.member p {
	margin: 0px 0px 0.5em 100px;
	&.name {
		margin-top: 1em;
		.nickname { display: none; }
	}
	&.school {
		font-style: italic;
		.short { display: none; }
	}
}

$icon-size: 60px;
.social {
	height: 2*$icon-size;
	width: 3*$icon-size;
	font-size: 0px;
	position: absolute;
	right: 25px;
	bottom: 0px;
	a {
		display: inline-block;
		font-size: $icon-size;
		margin: 0.2em 0.1em 0em 0.1em;
		width: 0.8em;
		height: 0.8em;
		position: relative;
		img {
			width: 100%;
			height: 100%;
			position: absolute;
		}
	}
}

@media (max-width: 550px) {
	#nav a span { display: none; }
}

$icon-size: $icon-size / 3 * 2;
@media (max-width: 510px) {
	.social {
		height: 3*$icon-size;
		width: 2*$icon-size;
		a { font-size: $icon-size; }
	}
}

$icon-size: $icon-size / 2;
@media (max-width: 420px) {
	.social {
		height: 6*$icon-size;
		width: $icon-size;
		a { font-size: $icon-size; }
	}
}

@media (max-width: 350px) {
	.member p.degree .notes { display: none; }
}

@media (max-width: 340px) {
	.member p {
		&.school .short { display: inline; }
		&.school .full { display: none; }
	}
}
