/.metadata/
/RemoteSystemsTempFiles/
/[sS]andbox/
/[sS]andbox0/
/[sS]andbox1/
/[sS]andbox2/
/[sS]andbox3/
/[sS]andbox4/
/[sS]andbox5/
/[sS]andbox6/
/[sS]andbox7/
/[sS]andbox8/
/[sS]andbox9/
/[tT]mp/
/[tT]mp0/
/[tT]mp1/
/[tT]mp2/
/[tT]mp3/
/[tT]mp4/
/[tT]mp5/
/[tT]mp6/
/[tT]mp7/
/[tT]mp8/
/[tT]mp9/
