body {
  background: #EEE;
  font-family: HelveticaNeueLTPro-Roman, HelveticaNeueLTPro-Md, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0px;
  font-weight: 300;
  color: #1E1E1E;
  position: relative; }

html {
  background: #CCC; }

body {
  max-width: 640px;
  overflow-x: hidden;
  margin: auto;
  padding-bottom: 1px;
  box-shadow: 0px 0px 1em 0px #000; }

.instructions {
  height: 2.5em;
  line-height: 2.5em;
  font-size: 0.25em;
  margin: 0px 1em;
  color: #777;
  text-transform: uppercase; }

.receipt, .summary {
  position: relative; }
  .receipt:before, .summary:before {
    content: "";
    position: absolute;
    right: 0px;
    height: 1px;
    width: 100%;
    /*	The following is buggy, and so is commented out*/
    /*	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.2);*/
    filter: alpha(opacity=20);
    -ms-filter: "alpha(opacity=20)";
    -o-filter: "alpha(opacity=20)";
    -webkit-opacity: 0.2;
    -moz-opacity: 0.2;
    -o-opacity: 0.2;
    -khtml-opacity: 0.2;
    -ms-opacity: 0.2;
    opacity: 0.2;
    background: #000;
    top: -1px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
      .receipt:before, .summary:before {
        background: transparent;
        background-image: url("../../img/redesign/receipt/thin-line.gif");
        background-size: 1px 1px;
        -khtml-transform: scaleY(-1);
        -moz-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        transform: scaleY(-1); } }
  .receipt:after, .summary:after {
    content: "";
    position: absolute;
    right: 0px;
    height: 1px;
    width: 100%;
    /*	The following is buggy, and so is commented out*/
    /*	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.2);*/
    filter: alpha(opacity=20);
    -ms-filter: "alpha(opacity=20)";
    -o-filter: "alpha(opacity=20)";
    -webkit-opacity: 0.2;
    -moz-opacity: 0.2;
    -o-opacity: 0.2;
    -khtml-opacity: 0.2;
    -ms-opacity: 0.2;
    opacity: 0.2;
    background: #000;
    bottom: -1px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
      .receipt:after, .summary:after {
        background: transparent;
        background-image: url("../../img/redesign/receipt/thin-line.gif");
        background-size: 1px 1px; } }

.receipt .item, .summary .item {
  height: 1em;
  position: relative;
  background: #FFF; }
  .receipt .item > *, .summary .item > * {
    position: absolute;
    top: 0px;
    margin: 0px;
    padding: 0px; }
  .receipt .item .checkbox, .summary .item .checkbox {
    left: 0px;
    width: 1em;
    height: 1em; }
  .receipt .item .name, .summary .item .name {
    left: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    font-size: 0.4em; }
    .receipt .item .name .num, .summary .item .name .num {
      position: relative;
      bottom: 0.7em; }
    .receipt .item .name .num, .receipt .item .name .denom, .summary .item .name .num, .summary .item .name .denom {
      font-size: 0.5em; }
  .receipt .item .price, .summary .item .price {
    right: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    font-size: 0.4em; }
  .receipt .item .split, .summary .item .split {
    right: 0px;
    width: 1em;
    height: 1em; }
  .receipt .item .split, .summary .item .split {
    right: 0px;
    width: 1em;
    height: 1em; }
    .receipt .item .split:before, .receipt .item .split:after, .summary .item .split:before, .summary .item .split:after {
      position: absolute; }
    .receipt .item .split:before, .summary .item .split:before {
      content: "";
      height: 40%;
      width: 40%;
      top: 25%;
      right: 30%;
      background: url("../../img/redesign/receipt/split-icon.svg");
      background-size: 75%;
      background-position: 50% 0px;
      background-repeat: no-repeat; }
    .receipt .item .split:after, .summary .item .split:after {
      content: "Split";
      height: 45%;
      width: 100%;
      left: 0px;
      bottom: 0px;
      font-size: 0.2em;
      text-align: center; }
  .receipt .item.your:not(:first-child):before, .receipt .item.unpaid:not(:first-child):before, .receipt .item.their:not(:first-child):before, .receipt .item.paid:not(:first-child):before, .summary .item.your:not(:first-child):before, .summary .item.unpaid:not(:first-child):before, .summary .item.their:not(:first-child):before, .summary .item.paid:not(:first-child):before {
    content: "";
    position: absolute;
    right: 0px;
    height: 1px;
    width: 100%;
    /*	The following is buggy, and so is commented out*/
    /*	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.2);*/
    filter: alpha(opacity=20);
    -ms-filter: "alpha(opacity=20)";
    -o-filter: "alpha(opacity=20)";
    -webkit-opacity: 0.2;
    -moz-opacity: 0.2;
    -o-opacity: 0.2;
    -khtml-opacity: 0.2;
    -ms-opacity: 0.2;
    opacity: 0.2;
    background: #000;
    width: calc(100% - 1em); }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
      .receipt .item.your:not(:first-child):before, .receipt .item.unpaid:not(:first-child):before, .receipt .item.their:not(:first-child):before, .receipt .item.paid:not(:first-child):before, .summary .item.your:not(:first-child):before, .summary .item.unpaid:not(:first-child):before, .summary .item.their:not(:first-child):before, .summary .item.paid:not(:first-child):before {
        background: transparent;
        background-image: url("../../img/redesign/receipt/thin-line.gif");
        background-size: 1px 1px; } }
  .receipt .item.your .checkbox:before, .receipt .item.unpaid .checkbox:before, .summary .item.your .checkbox:before, .summary .item.unpaid .checkbox:before {
    content: "";
    position: absolute;
    top: 0.25em;
    left: 0.25em;
    width: 0.5em;
    height: 0.5em; }
  .receipt .item.your .checkbox:before, .summary .item.your .checkbox:before {
    background: url("../../img/redesign/receipt/checked_box.svg");
    background-size: 100%; }
  .receipt .item.unpaid .checkbox:before, .summary .item.unpaid .checkbox:before {
    background: url("../../img/redesign/receipt/unchecked_box.svg");
    background-size: 100%;
    /*	The following is buggy, and so is commented out*/
    /*	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.25);*/
    filter: alpha(opacity=25);
    -ms-filter: "alpha(opacity=25)";
    -o-filter: "alpha(opacity=25)";
    -webkit-opacity: 0.25;
    -moz-opacity: 0.25;
    -o-opacity: 0.25;
    -khtml-opacity: 0.25;
    -ms-opacity: 0.25;
    opacity: 0.25; }
  .receipt .item.unpaid, .receipt .item.their, .receipt .item.paid, .summary .item.unpaid, .summary .item.their, .summary .item.paid {
    background: #FAFAFA; }
    .receipt .item.unpaid .price, .receipt .item.their .price, .receipt .item.paid .price, .summary .item.unpaid .price, .summary .item.their .price, .summary .item.paid .price {
      text-decoration: line-through; }
  .receipt .item.their .split, .receipt .item.paid .split, .summary .item.their .split, .summary .item.paid .split {
    display: none; }
  .receipt .item.their .checkbox:before, .receipt .item.paid .checkbox:before, .summary .item.their .checkbox:before, .summary .item.paid .checkbox:before {
    font-size: 0.2em;
    font-weight: 400;
    width: 5em;
    height: 5em;
    line-height: 5em;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0px;
    text-transform: uppercase;
    -khtml-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .receipt .item.their .checkbox:before, .summary .item.their .checkbox:before {
    content: "Taken";
    color: #08E; }
  .receipt .item.paid .checkbox:before, .summary .item.paid .checkbox:before {
    content: "Paid";
    color: #0E0; }
  .receipt .item.subtotal, .summary .item.subtotal {
    margin-top: 0.5em; }
  .receipt .item.total, .summary .item.total {
    font-weight: bold; }

a.all, a.none {
  display: inline-block;
  font-size: 0.4em;
  margin: 0px 2.5em;
  width: calc(50% - 3.75em);
  height: 2em;
  line-height: 2em;
  text-align: center;
  border-radius: 0.5em;
  position: absolute; }

a.all {
  background: #0886E0;
  color: #FFF; }

a.none {
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
  right: 0px; }

.receipt {
  margin-bottom: 0.5em; }

.summary {
  margin-top: 2em; }

.confirm {
  display: block;
  margin: 1.25em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  background: #0886E0;
  color: #FFF;
  border-radius: 0.3em;
  font-size: 0.8em; }

