@import "../../../_ignore/main.scss";

$text-color: #1E1E1E;

body {
	@include no-text-adj();
	background: #EEE;
	@include helvetica();
	margin: 0px;
	font-weight: 300;
	color: $text-color;
	height: 12em;
	position: relative;
}

.thanks {
    margin: 0px;
    text-align: center;
    font-size: 1em;
    padding-top: 0.5em;
}

.email {
    margin: 2em 1.5em;
    font-size: 0.5em;
	p {
		text-align: center;
		margin: 0.5em 0px;
	}
	input {
		font-size: 1em;
		border: 1px solid rgba(0,0,0,0.25);
		border-radius: 0px;
		@include no-extra-style();
		height: calc(1.5em - 2px);
		width: calc(100% - 5.4em - 2px);
		margin: 0px 1em;
		padding: 0px 0.1em;
	}
	a {
		display: inline-block;
		position: absolute;
		font-size: 0.75em;
		width: 3em;
		height: 2em;
		line-height: 2em;
		text-align: center;
		border-radius: 0.75em;
		background: #333;
		color: #FFF;
		font-weight: 100;
	}
}

.feedback {
    font-size: 0.5em;
    position: relative;
    margin: 2em 1em;
	p {
		text-align: center;
		margin-bottom: 0.5em;
	}
	a {
		display: inline-block;
		height: 3em;
		width: 3em;
		border-radius: 3em;
		position: absolute;
		margin-left: -1.5em;
		color: #FFF;
		&:before {
			content: "";
			display: block;
			width: 3em;
			height: 3em;
			background-size: auto 2em;
			background-repeat: no-repeat;
			background-position: center;
		}
		&.bad {
			background: #B00;
			left: 12.5%;
			&:before {
				background-image: url("../../img/redesign/feedback/thumbs-down.png");
			}
		}
		&.ok {
			background: #333;
			left: 37.5%;
			&:before {
				content: "Ok";
				text-transform: uppercase;
				font-weight: 100;
				font-size: 1.5em;
				width: 2em;
				height: 2em;
				line-height: 2em;
				text-align: center;
			}
		}
		&.good {
			background: #0B0;
			left: 62.5%;
			&:before {
				background-image: url("../../img/redesign/feedback/thumbs-up.png");
			}
		}
		&.very.good {
			left: 87.5%;
			&:before {
				background-image: url("../../img/redesign/feedback/thumbs-up-up.png");
			}
		}
	}
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
	.email a {
		font-weight: 300;
	}
	.feedback a.ok:before {
		font-weight: 200;
	}
}

.app {
    font-size: 0.4em;
    position: absolute;
    bottom: 0px;
    padding: 2.5em 2em;
    text-align: center;
	p {
		margin: 0px;
	}
}
