@mixin prefixed($prop, $val) {
	-webkit-#{$prop}: $val;
	-moz-#{$prop}: $val;
	-o-#{$prop}: $val;
	-khtml-#{$prop}: $val;
	-ms-#{$prop}: $val;
	#{$prop}: $val;
}

@mixin no-text-adj {
	@include prefixed(text-size-adjust, none);
}

@mixin no-extra-style {
	-webkit-appearance: none;
	-moz-appearance: none;
}

@mixin user-select($a, $b:none) {
	-webkit-touch-callout: $b;
	@include prefixed(user-select, $a);
}

@mixin box-shadow($a, $b:null, $c:null, $d:null, $e:null, $f:null, $g:null, $h:null, $i:null, $j:null, $k:null, $l:null) {
	@include shadow-inner(box-shadow, $a,$b,$c,$d,$e,$f,$g,$h,$i,$j,$k,$l);
}

@mixin text-shadow($a, $b:null, $c:null, $d:null, $e:null, $f:null, $g:null, $h:null, $i:null, $j:null, $k:null, $l:null) {
	@include shadow-inner(text-shadow, $a,$b,$c,$d,$e,$f,$g,$h,$i,$j,$k,$l);
}

@mixin shadow-inner($cmd, $a, $b, $c, $d, $e, $f, $g, $h, $i, $j, $k, $l) {
	$evenOnFlat: false;
	@if $b != null {
		@if $b == true {
			$evenOnFlat: true;
		} @else {
			$a: $a, $b;
		}
	}
	@if $c != null {
		@if $c == true {
			$evenOnFlat: true;
		} @else { 
			$a: $a, $c;
		}
	}
	@if $d != null {
		@if $d == true {
			$evenOnFlat: true;
		} @else { 
			$a: $a, $d;
		}
	}
	@if $e != null {
		@if $e == true {
			$evenOnFlat: true;
		} @else { 
			$a: $a, $e;
		}
	}
	@if $f != null {
		@if $f == true {
			$evenOnFlat: true;
		} @else { 
			$a: $a, $f;
		}
	}
	@if $g != null {
		@if $g == true {
			$evenOnFlat: true;
		} @else { 
			$a: $a, $g;
		}
	}
	@if $h != null {
		@if $h == true {
			$evenOnFlat: true;
		} @else { 
			$a: $a, $h;
		}
	}
	@if $i != null {
		@if $i == true {
			$evenOnFlat: true;
		} @else { 
			$a: $a, $i;
		}
	}
	@if $j != null {
		@if $j == true {
			$evenOnFlat: true;
		} @else { 
			$a: $a, $j;
		}
	}
	@if $k != null {
		@if $k == true {
			$evenOnFlat: true;
		} @else { 
			$a: $a, $k;
		}
	}
	@if $l != null {
		@if $l == true {
			$evenOnFlat: true;
		} @else { 
			$a: $a, $l;
		}
	}
	@include prefixed($cmd, $a);
	@if not $evenOnFlat { .platform-wp &, .platform-iOS & {
		@include prefixed($cmd, none);
	}; };
}



@mixin border-radius($x, $evenOnWP:false) {
	@include prefixed(border-radius, $x);
	@if not $evenOnWP { .platform-wp & {
		@include prefixed(border-radius, 0px);
	}; };
}

@mixin background-gradient($angle, $color1, $offset1, $color2 ,$offset2:100, $color3:null, $offset3:100, $color4:null, $offset4:100, $color5:null, $offset5:100){
	@include background-gradient-inner($angle, $color1, $offset1, $color2, $offset2, $color3, $offset3, $color4, $offset4, $color5, $offset5);
	.platform-wp & {
		background: #{'#'+$color1};
	}
}

@mixin background-gradient-inner($angle, $color1, $offset1, $color2, $offset2:100, $color3:null, $offset3:100, $color4:null, $offset4:100, $color5:null, $offset5:100){
	$angle_webkit: 'left top, left bottom';
	$angle_svg: '%20x2%3d%220%25%22%20y2%3d%22100%25%22';
	$color-stop1_css: '#'#{$color1}' '#{$offset1}'%';
	$color-stop2_css: ',#'#{$color2}' '#{$offset2}'%';
	$color-stop3_css: '';
	$color-stop4_css: '';
	$color-stop5_css: '';
	$color-stop1_svg: '%3cstop%20style%3d%22stop%2dcolor%3a%23'#{$color1}'%22%20offset%3d%22'#{$offset1}'%25%22%2f%3e';
	$color-stop2_svg: '%3cstop%20style%3d%22stop%2dcolor%3a%23'#{$color2}'%22%20offset%3d%22'#{$offset2}'%25%22%2f%3e';
	$color-stop3_svg: '';
	$color-stop4_svg: '';
	$color-stop5_svg: '';
	$color-stop1_webkit: 'color-stop('#{$offset1}'%, #'#{$color1}')';
	$color-stop2_webkit: ',color-stop('#{$offset2}'%, #'#{$color2}')';
	$color-stop3_webkit: '';
	$color-stop4_webkit: '';
	$color-stop5_webkit: '';
	@if $angle == right{
		$angle_webkit: 'right top, left top';
		$angle_svg: '%20x2%3d%22100%25%22';
	}
	@if $angle == bottom{
		$angle_webkit: 'left bottom, left top';
		$angle_svg: '%20x2%3d%220%22%20y1%3d%22100%25%22';
	}
	@if $angle == left{
		$angle_webkit: 'left top, right top';
		$angle_svg: '';
	}
	@if $color3 != null {
		$color-stop3_css: ',#'#{$color3}' '#{$offset3}'%';
		$color-stop3_svg: '%3cstop%20style%3d%22stop%2dcolor%3a%23'#{$color3}'%22%20offset%3d%22'#{$offset3}'%25%22%2f%3e';
		$color-stop3_webkit: ',color-stop(#'#{$offset3}',#'#{$color3}')';
	}
	@if $color4 != null {
		$color-stop4_css: ',#'#{$color4}' '#{$offset4}'%';
		$color-stop4_svg: '%3cstop%20style%3d%22stop%2dcolor%3a%23'#{$color4}'%22%20offset%3d%22'#{$offset4}'%25%22%2f%3e';
		$color-stop4_webkit: ',color-stop(#'#{$offset4}',#'#{$color4}')';
	}
	@if $color5 != null {
		$color-stop5_css: ',#'#{$color5}' '#{$offset5}'%';
		$color-stop5_svg: '%3cstop%20style%3d%22stop%2dcolor%3a%23'#{$color5}'%22%20offset%3d%22'#{$offset5}'%25%22%2f%3e';
		$color-stop5_webkit: ',color-stop(#'#{$offset5}',#'#{$color5}')';
	}

	background-image:url(data:image/svg+xml,%3c%3fxml%20version%3d%221%2e0%22%3f%3e%3csvg%20xmlns%3d%22http%3a%2f%2fwww%2ew3%2eorg%2f2000%2fsvg%22%20width%3d%22100%25%22%20height%3d%22100%25%22%3e%3cdefs%3e%3clinearGradient%20id%3d%22G%22#{$angle_svg}%3e#{$color-stop1_svg}#{$color-stop2_svg}#{$color-stop3_svg}#{$color-stop4_svg}#{$color-stop5_svg}%3c%2flinearGradient%3e%3c%2fdefs%3e%3crect%20width%3d%22100%25%22%20height%3d%22100%25%22%20fill%3d%22url%28%23G%29%22%2f%3e%3c%2fsvg%3e);
	background-image: -webkit-gradient(linear,#{$angle_webkit},#{$color-stop1_webkit}#{$color-stop2_webkit}#{$color-stop3_webkit}#{$color-stop4_webkit}#{$color-stop5_webkit});
	background-image:-webkit-linear-gradient(#{$angle},#{$color-stop1_css}#{$color-stop2_css}#{$color-stop3_css}#{$color-stop4_css}#{$color-stop5_css});
	background-image:-moz-linear-gradient(#{$angle},#{$color-stop1_css}#{$color-stop2_css}#{$color-stop3_css}#{$color-stop4_css}#{$color-stop5_css});
	background-image:-ms-linear-gradient(#{$angle},#{$color-stop1_css}#{$color-stop2_css}#{$color-stop3_css}#{$color-stop4_css}#{$color-stop5_css});
	background-image:-o-linear-gradient(#{$angle},#{$color-stop1_css}#{$color-stop2_css}#{$color-stop3_css}#{$color-stop4_css}#{$color-stop5_css});
	background-image:-khtml-linear-gradient(#{$angle},#{$color-stop1_css}#{$color-stop2_css}#{$color-stop3_css}#{$color-stop4_css}#{$color-stop5_css});
	background:-pie-linear-gradient(#{$angle},#{$color-stop1_css}#{$color-stop2_css}#{$color-stop3_css}#{$color-stop4_css}#{$color-stop5_css});
	background-image:linear-gradient(#{$angle},#{$color-stop1_css}#{$color-stop2_css}#{$color-stop3_css}#{$color-stop4_css}#{$color-stop5_css});
}

@mixin btn-base($p, $q, $protectMargin:false)
{
	display: inline-block;
	text-align: center;
	color: #FFF;
	@include border-radius(0.1em);
	padding: #{$p};
	&:active {padding: #{$q};}
	&.disabled:active {padding: #{$p};}

	border: 1px solid rgba(0,0,0,0.1);
	text-shadow: 1px 1px rgba(0,0,0,0.3);
	@include box-shadow(inset 0px 1px 1px rgba(255,255,255,0.5));
	.platform-iOS &, .platform-wp & {
		border: none;
		@if not $protectMargin { margin: 1px; }
		text-shadow: 0px 0px rgba(0,0,0,0);
	}
}

@mixin btn-gradients($a, $b, $c, $d)
{
	@include background-gradient(top, #{$a}, 0, #{$b}, 100);
	&:active {@include background-gradient(top, #{$b}, 0, #{$a}, 100);}
	&:hover {@include background-gradient(top, #{$c}, 0, #{$d}, 100);}
	&:hover:active {@include background-gradient(top, #{$d}, 0, #{$c}, 100);}
	&.disabled, &.disabled:active, &.disabled:hover, &.disabled:hover:active {
		@include background-gradient(top, #{$a}, 0, #{$b}, 100);
	}
}

@mixin opacity($x) {
/*	The following is buggy, and so is commented out*/
/*	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=#{$x});*/
	filter:alpha(opacity=#{$x*100});
	-ms-filter:"alpha(opacity=#{$x*100})";
	-o-filter:"alpha(opacity=#{$x*100})";
	@include prefixed(opacity, $x);
}

@mixin transition-css3($prop, $val) {
	-khtml-transition: $prop $val;
	-khtml-transition: -khtml-#{$prop} $val;
	-moz-transition: $prop $val;
	-moz-transition: -moz-#{$prop} $val;
	-webkit-transition: $prop $val;
	-webkit-transition: -webkit-#{$prop} $val;
	-ms-transition: $prop $val;
	-ms-transition: -ms-#{$prop} $val;
	-o-transition: $prop $val;
	-o-transition: -o-#{$prop} $val;
	transition: $prop $val;
}

@mixin transition($prop, $val) {
	-khtml-transition: $prop $val;
	-moz-transition: $prop $val;
	-webkit-transition: $prop $val;
	-ms-transition: $prop $val;
	-o-transition: $prop $val;
	transition: $prop $val;
}

@mixin transition2($prop, $val, $prop2, $val2) {
	-khtml-transition: $prop $val, $prop2 $val2;
	-moz-transition: $prop $val, $prop2 $val2;
	-webkit-transition: $prop $val, $prop2 $val2;
	-ms-transition: $prop $val, $prop2 $val2;
	-o-transition: $prop $val, $prop2 $val2;
	transition: $prop $val, $prop2 $val2;
}

@mixin transition3($prop, $val, $prop2, $val2, $prop3, $val3) {
	-khtml-transition: $prop $val, $prop2 $val2, $prop3 $val3;
	-moz-transition: $prop $val, $prop2 $val2, $prop3 $val3;
	-webkit-transition: $prop $val, $prop2 $val2, $prop3 $val3;
	-ms-transition: $prop $val, $prop2 $val2, $prop3 $val3;
	-o-transition: $prop $val, $prop2 $val2, $prop3 $val3;
	transition: $prop $val, $prop2 $val2, $prop3 $val3;
}

@mixin transition4($prop, $val, $prop2, $val2, $prop3, $val3, $prop4, $val4){
	-khtml-transition: $prop $val, $prop2 $val2, $prop3 $val3, $prop4 $val4;
	-moz-transition: $prop $val, $prop2 $val2, $prop3 $val3, $prop4 $val4;
	-webkit-transition: $prop $val, $prop2 $val2, $prop3 $val3, $prop4 $val4;
	-ms-transition: $prop $val, $prop2 $val2, $prop3 $val3, $prop4 $val4;
	-o-transition: $prop $val, $prop2 $val2, $prop3 $val3, $prop4 $val4;
	transition: $prop $val, $prop2 $val2, $prop3 $val3, $prop4 $val4;
}

@mixin transform($x) {
	-khtml-transform: $x;
	-moz-transform: $x;
	-webkit-transform: $x;
	-ms-transform: $x;
	-o-transform: $x;
	transform: $x;
}

@mixin helvetica() {
	font-family: HelveticaNeueLTPro-Roman, HelveticaNeueLTPro-Md, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

@mixin helvetica-md() {
	font-family: HelveticaNeueLTPro-Md, "Helvetica Neue", Helvetica, 'Segoe UI', Arial, "Lucida Grande", sans-serif;
}


@mixin helvetica-roman() {
	font-family: HelveticaNeueLTPro-Roman, "Helvetica Neue", Helvetica, 'Segoe UI', Arial, "Lucida Grande", sans-serif;
}

@mixin arial() {
	font-family: Arial, "Lucida Grande", sans-serif;
}

@mixin segoe() {
	font-family: 'Segoe UI', Tahoma, sans-serif;
}

@mixin times() {
	font-family: "Times New Roman", Times, serif;
}

@mixin monospace() {
	font-family: Monospace, "Lucida Console";
}
