<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- Custom MIME types -->
	<mime-mapping>
		<extension>woff</extension>
		<mime-type>font/opentype</mime-type>
	</mime-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>pay</welcome-file>
	</welcome-file-list>

	<!-- Google Endpoint API Stuff -->
	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>

	<!-- - - - - - - - - - - - -->
	<!--        Servlets       -->
	<!-- - - - - - - - - - - - -->

	<servlet>
		<servlet-name>greetServlet</servlet-name>
		<servlet-class>com.chkex.server.GreetingServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/chkex/greet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/chkex/greet/</url-pattern>
	</servlet-mapping>

	<!-- Admin Ops -->
	<servlet>
		<servlet-name>adminLoginServlet</servlet-name>
		<servlet-class>servlets.admin_ops.AdminLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminLoginServlet</servlet-name>
		<url-pattern>/admin/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>adminLoginServlet</servlet-name>
		<url-pattern>/admin/login/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>adminLogoutServlet</servlet-name>
		<servlet-class>servlets.admin_ops.AdminLogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminLogoutServlet</servlet-name>
		<url-pattern>/admin/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>adminLogoutServlet</servlet-name>
		<url-pattern>/admin/logout/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>cleanServlet</servlet-name>
		<servlet-class>servlets.admin_ops.CleanServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cleanServlet</servlet-name>
		<url-pattern>/admin/clean</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cleanServlet</servlet-name>
		<url-pattern>/admin/clean/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>clearDbServlet</servlet-name>
		<servlet-class>servlets.admin_ops.ClearDbServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>clearDbServlet</servlet-name>
		<url-pattern>/admin/clear_db</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>clearDbServlet</servlet-name>
		<url-pattern>/admin/clear_db/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>deleteAuthKeysServlet</servlet-name>
		<servlet-class>servlets.admin_ops.DeleteAuthKeysServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteAuthKeysServlet</servlet-name>
		<url-pattern>/admin/delete_auth</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deleteAuthKeysServlet</servlet-name>
		<url-pattern>/admin/delete_auth/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>dumpServlet</servlet-name>
		<servlet-class>servlets.admin_ops.DumpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dumpServlet</servlet-name>
		<url-pattern>/admin/dump</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dumpServlet</servlet-name>
		<url-pattern>/admin/dump/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>newMobileKeyServlet</servlet-name>
		<servlet-class>servlets.admin_ops.NewMobileKeyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>newMobileKeyServlet</servlet-name>
		<url-pattern>/admin/new_mobile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>newMobileKeyServlet</servlet-name>
		<url-pattern>/admin/new_mobile/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>newRestrServlet</servlet-name>
		<servlet-class>servlets.admin_ops.NewRestrServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>newRestrServlet</servlet-name>
		<url-pattern>/admin/new_restr</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>newRestrServlet</servlet-name>
		<url-pattern>/admin/new_restr/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>tmpServlet</servlet-name>
		<servlet-class>servlets.admin_ops.TmpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>tmpServlet</servlet-name>
		<url-pattern>/admin/tmp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>tmpServlet</servlet-name>
		<url-pattern>/admin/tmp/</url-pattern>
	</servlet-mapping>

	<!-- CX -->
	<servlet>
		<servlet-name>channelConnectServlet</servlet-name>
		<servlet-class>servlets.cx.ChannelConnectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>channelConnectServlet</servlet-name>
		<url-pattern>/_ah/channel/connected</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>channelConnectServlet</servlet-name>
		<url-pattern>/_ah/channel/connected/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>channelDisconnectServlet</servlet-name>
		<servlet-class>servlets.cx.ChannelDisconnectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>channelDisconnectServlet</servlet-name>
		<url-pattern>/_ah/channel/disconnected</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>channelDisconnectServlet</servlet-name>
		<url-pattern>/_ah/channel/disconnected/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>closeClientServlet</servlet-name>
		<servlet-class>servlets.cx.CloseClientServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>closeClientServlet</servlet-name>
		<url-pattern>/cx/close</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>closeClientServlet</servlet-name>
		<url-pattern>/cx/close/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getMarkupServlet</servlet-name>
		<servlet-class>servlets.cx.GetMarkupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getMarkupServlet</servlet-name>
		<url-pattern>/pay</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getMarkupServlet</servlet-name>
		<url-pattern>/pay/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getCardBacksServlet</servlet-name>
		<servlet-class>servlets.cx.GetCardBacksServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getCardBacksServlet</servlet-name>
		<url-pattern>/cardBacks</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getCardBacksServlet</servlet-name>
		<url-pattern>/cardBacks/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getCardFrontsServlet</servlet-name>
		<servlet-class>servlets.cx.GetCardFrontsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getCardFrontsServlet</servlet-name>
		<url-pattern>/cardFronts</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getCardFrontsServlet</servlet-name>
		<url-pattern>/cardFronts/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getCardServlet</servlet-name>
		<servlet-class>servlets.cx.GetCardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getCardServlet</servlet-name>
		<url-pattern>/card</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getCardServlet</servlet-name>
		<url-pattern>/card/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>logPositionServlet</servlet-name>
		<servlet-class>servlets.cx.LogPositionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logPositionServlet</servlet-name>
		<url-pattern>/cx/log_pos</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logPositionServlet</servlet-name>
		<url-pattern>/cx/log_pos/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>payServlet</servlet-name>
		<servlet-class>servlets.cx.PayServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>payServlet</servlet-name>
		<url-pattern>/cx/pay</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>payServlet</servlet-name>
		<url-pattern>/cx/pay/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>rateServlet</servlet-name>
		<servlet-class>servlets.cx.RateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>rateServlet</servlet-name>
		<url-pattern>/cx/rate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>rateServlet</servlet-name>
		<url-pattern>/cx/rate/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>factSheetServlet</servlet-name>
		<servlet-class>servlets.cx.FactSheetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>factSheetServlet</servlet-name>
		<url-pattern>/facts</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>factSheetServlet</servlet-name>
		<url-pattern>/facts/</url-pattern>
	</servlet-mapping>

	<!-- CX - Split -->
	<servlet>
		<servlet-name>addToSplitServlet</servlet-name>
		<servlet-class>servlets.cx.split.AddToSplitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addToSplitServlet</servlet-name>
		<url-pattern>/cx/split/add</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>addToSplitServlet</servlet-name>
		<url-pattern>/cx/split/add/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>removeFromSplitServlet</servlet-name>
		<servlet-class>servlets.cx.split.RemoveFromSplitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>removeFromSplitServlet</servlet-name>
		<url-pattern>/cx/split/remove</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>removeFromSplitServlet</servlet-name>
		<url-pattern>/cx/split/remove/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>startSplitServlet</servlet-name>
		<servlet-class>servlets.cx.split.StartSplitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>startSplitServlet</servlet-name>
		<url-pattern>/cx/split/start</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>startSplitServlet</servlet-name>
		<url-pattern>/cx/split/start/</url-pattern>
	</servlet-mapping>

	<!-- Users -->
	<servlet>
		<servlet-name>addCreditCardServlet</servlet-name>
		<servlet-class>servlets.users.AddCreditCardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addCreditCardServlet</servlet-name>
		<url-pattern>/user/add_cc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>addCreditCardServlet</servlet-name>
		<url-pattern>/user/add_cc/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emailUserPasswordResetServlet</servlet-name>
		<servlet-class>servlets.users.EmailUserPasswordResetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emailUserPasswordResetServlet</servlet-name>
		<url-pattern>/user/email_password</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>emailUserPasswordResetServlet</servlet-name>
		<url-pattern>/user/email_password/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getUserCreditCardsServlet</servlet-name>
		<servlet-class>servlets.users.GetUserCreditCardsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getUserCreditCardsServlet</servlet-name>
		<url-pattern>/user/get_cc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getUserCreditCardsServlet</servlet-name>
		<url-pattern>/user/get_cc/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>loginUserServlet</servlet-name>
		<servlet-class>servlets.users.LoginUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginUserServlet</servlet-name>
		<url-pattern>/user/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>loginUserServlet</servlet-name>
		<url-pattern>/user/login/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>registerUserServlet</servlet-name>
		<servlet-class>servlets.users.RegisterUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>registerUserServlet</servlet-name>
		<url-pattern>/user/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>registerUserServlet</servlet-name>
		<url-pattern>/user/register/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>resetUserPasswordServlet</servlet-name>
		<servlet-class>servlets.users.ResetUserPasswordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>resetUserPasswordServlet</servlet-name>
		<url-pattern>/user/reset</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>resetUserPasswordServlet</servlet-name>
		<url-pattern>/user/reset/</url-pattern>
	</servlet-mapping>
</web-app>