<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- Custom MIME types -->
	<mime-mapping>
		<extension>woff</extension>
		<mime-type>font/opentype</mime-type>
	</mime-mapping>

	<!-- Google Endpoint API Stuff -->
	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>

	<!-- - - - - - - - - - - - - - - - - - -->
	<!--        Servlets (mostly)          -->
	<!-- - - - - - - - - - - - - - - - - - -->

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>welcome</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>greetServlet</servlet-name>
		<servlet-class>com.getthecheck.server.GreetingServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/chkex/greet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/chkex/greet/</url-pattern>
	</servlet-mapping>

	<!-- Admin Ops -->
	<servlet>
		<servlet-name>adminLoginServlet</servlet-name>
		<servlet-class>servlets.admin_ops.AdminLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminLoginServlet</servlet-name>
		<url-pattern>/admin/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>adminLoginServlet</servlet-name>
		<url-pattern>/admin/login/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>adminLogoutServlet</servlet-name>
		<servlet-class>servlets.admin_ops.AdminLogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminLogoutServlet</servlet-name>
		<url-pattern>/admin/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>adminLogoutServlet</servlet-name>
		<url-pattern>/admin/logout/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>cleanServlet</servlet-name>
		<servlet-class>servlets.admin_ops.CleanServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cleanServlet</servlet-name>
		<url-pattern>/admin/clean</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cleanServlet</servlet-name>
		<url-pattern>/admin/clean/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>clearDbServlet</servlet-name>
		<servlet-class>servlets.admin_ops.ClearDbServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>clearDbServlet</servlet-name>
		<url-pattern>/admin/clear_db</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>clearDbServlet</servlet-name>
		<url-pattern>/admin/clear_db/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>dumpServlet</servlet-name>
		<servlet-class>servlets.admin_ops.DumpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dumpServlet</servlet-name>
		<url-pattern>/admin/dump</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dumpServlet</servlet-name>
		<url-pattern>/admin/dump/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>newTableKeyServlet</servlet-name>
		<servlet-class>servlets.admin_ops.NewTableKeyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>newTableKeyServlet</servlet-name>
		<url-pattern>/admin/new_table</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>newTableKeyServlet</servlet-name>
		<url-pattern>/admin/new_table/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>newRestrServlet</servlet-name>
		<servlet-class>servlets.admin_ops.NewRestrServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>newRestrServlet</servlet-name>
		<url-pattern>/admin/new_restr</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>newRestrServlet</servlet-name>
		<url-pattern>/admin/new_restr/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>tmpServlet</servlet-name>
		<servlet-class>servlets.admin_ops.TmpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>tmpServlet</servlet-name>
		<url-pattern>/admin/tmp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>tmpServlet</servlet-name>
		<url-pattern>/admin/tmp/</url-pattern>
	</servlet-mapping>

	<!-- CX -->
	<servlet>
		<servlet-name>channelConnectServlet</servlet-name>
		<servlet-class>servlets.cx.ChannelConnectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>channelConnectServlet</servlet-name>
		<url-pattern>/_ah/channel/connected</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>channelConnectServlet</servlet-name>
		<url-pattern>/_ah/channel/connected/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>channelDisconnectServlet</servlet-name>
		<servlet-class>servlets.cx.ChannelDisconnectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>channelDisconnectServlet</servlet-name>
		<url-pattern>/_ah/channel/disconnected</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>channelDisconnectServlet</servlet-name>
		<url-pattern>/_ah/channel/disconnected/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>closeClientServlet</servlet-name>
		<servlet-class>servlets.cx.CloseClientServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>closeClientServlet</servlet-name>
		<url-pattern>/cx/close</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>closeClientServlet</servlet-name>
		<url-pattern>/cx/close/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>encryptCCServlet</servlet-name>
		<servlet-class>servlets.cx.EncryptCCServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>encryptCCServlet</servlet-name>
		<url-pattern>/cx/encryptCC</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>encryptCCServlet</servlet-name>
		<url-pattern>/cx/encryptCC/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>initServlet</servlet-name>
		<servlet-class>servlets.cx.InitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>initServlet</servlet-name>
		<url-pattern>/cx/init</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>initServlet</servlet-name>
		<url-pattern>/cx/init/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>logPositionServlet</servlet-name>
		<servlet-class>servlets.cx.LogPositionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logPositionServlet</servlet-name>
		<url-pattern>/cx/log_pos</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logPositionServlet</servlet-name>
		<url-pattern>/cx/log_pos/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>payServlet</servlet-name>
		<servlet-class>servlets.cx.PayServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>payServlet</servlet-name>
		<url-pattern>/cx/pay</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>payServlet</servlet-name>
		<url-pattern>/cx/pay/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>rateServlet</servlet-name>
		<servlet-class>servlets.cx.RateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>rateServlet</servlet-name>
		<url-pattern>/cx/rate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>rateServlet</servlet-name>
		<url-pattern>/cx/rate/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>welcomeServlet</servlet-name>
		<servlet-class>servlets.cx.WelcomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>welcomeServlet</servlet-name>
		<url-pattern>/welcome</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>welcomeServlet</servlet-name>
		<url-pattern>/welcome/</url-pattern>
	</servlet-mapping>

	<!-- CX - Split -->
	<servlet>
		<servlet-name>addToSplitServlet</servlet-name>
		<servlet-class>servlets.cx.split.AddToSplitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addToSplitServlet</servlet-name>
		<url-pattern>/cx/split/add</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>addToSplitServlet</servlet-name>
		<url-pattern>/cx/split/add/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>cancelSplitServlet</servlet-name>
		<servlet-class>servlets.cx.split.CancelSplitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cancelSplitServlet</servlet-name>
		<url-pattern>/cx/split/cancel</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cancelSplitServlet</servlet-name>
		<url-pattern>/cx/split/cancel/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>removeFromSplitServlet</servlet-name>
		<servlet-class>servlets.cx.split.RemoveFromSplitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>removeFromSplitServlet</servlet-name>
		<url-pattern>/cx/split/remove</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>removeFromSplitServlet</servlet-name>
		<url-pattern>/cx/split/remove/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>startSplitServlet</servlet-name>
		<servlet-class>servlets.cx.split.StartSplitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>startSplitServlet</servlet-name>
		<url-pattern>/cx/split/start</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>startSplitServlet</servlet-name>
		<url-pattern>/cx/split/start/</url-pattern>
	</servlet-mapping>

	<!-- Oz -->
	<servlet>
		<servlet-name>appleResetServlet</servlet-name>
		<servlet-class>servlets.oz.AppleResetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>appleResetServlet</servlet-name>
		<url-pattern>/appleReset</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>appleResetServlet</servlet-name>
		<url-pattern>/appleReset/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>connectServlet</servlet-name>
		<servlet-class>servlets.oz.ConnectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>connectServlet</servlet-name>
		<url-pattern>/oz/connect</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>connectServlet</servlet-name>
		<url-pattern>/oz/connect/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>enableServlet</servlet-name>
		<servlet-class>servlets.oz.EnableServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>enableServlet</servlet-name>
		<url-pattern>/oz/enable</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>enableServlet</servlet-name>
		<url-pattern>/oz/enable/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>disconnectServlet</servlet-name>
		<servlet-class>servlets.oz.DisconnectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>disconnectServlet</servlet-name>
		<url-pattern>/oz/disconnect</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>disconnectServlet</servlet-name>
		<url-pattern>/oz/disconnect/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>initServlet_0</servlet-name>
		<servlet-class>servlets.oz.InitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>initServlet_0</servlet-name>
		<url-pattern>/oz/init</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>initServlet_0</servlet-name>
		<url-pattern>/oz/init/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>payerFailureServlet</servlet-name>
		<servlet-class>servlets.oz.PayerFailureServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>payerFailureServlet</servlet-name>
		<url-pattern>/oz/failure</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>payerFailureServlet</servlet-name>
		<url-pattern>/oz/failure/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>payerSuccessServlet</servlet-name>
		<servlet-class>servlets.oz.PayerSuccessServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>payerSuccessServlet</servlet-name>
		<url-pattern>/oz/success</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>payerSuccessServlet</servlet-name>
		<url-pattern>/oz/success/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updateTickServlet</servlet-name>
		<servlet-class>servlets.oz.UpdateTickServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateTickServlet</servlet-name>
		<url-pattern>/oz/tick</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>updateTickServlet</servlet-name>
		<url-pattern>/oz/tick/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updatePayerServlet</servlet-name>
		<servlet-class>servlets.oz.UpdatePayerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updatePayerServlet</servlet-name>
		<url-pattern>/oz/update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>updatePayerServlet</servlet-name>
		<url-pattern>/oz/update/</url-pattern>
	</servlet-mapping>
</web-app>