<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- Custom MIME types -->
	<mime-mapping>
		<extension>woff</extension>
		<mime-type>font/opentype</mime-type>
	</mime-mapping>

	<!-- Google Endpoint API Stuff -->
	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>

	<!-- - - - - - - - - - - - - - - - - - -->
	<!--        Servlets (mostly)          -->
	<!-- - - - - - - - - - - - - - - - - - -->

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>website.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>greetServlet</servlet-name>
		<servlet-class>com.getthecheck.server.GreetingServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/chkex/greet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/chkex/greet/</url-pattern>
	</servlet-mapping>

	<!-- Admin Ops -->
	<servlet>
		<servlet-name>adminLoginServlet</servlet-name>
		<servlet-class>servlets.admin_ops.AdminLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminLoginServlet</servlet-name>
		<url-pattern>/admin/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>adminLoginServlet</servlet-name>
		<url-pattern>/admin/login/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>adminLogoutServlet</servlet-name>
		<servlet-class>servlets.admin_ops.AdminLogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminLogoutServlet</servlet-name>
		<url-pattern>/admin/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>adminLogoutServlet</servlet-name>
		<url-pattern>/admin/logout/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>cleanServlet</servlet-name>
		<servlet-class>servlets.admin_ops.CleanServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cleanServlet</servlet-name>
		<url-pattern>/admin/clean</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cleanServlet</servlet-name>
		<url-pattern>/admin/clean/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>clearDbServlet</servlet-name>
		<servlet-class>servlets.admin_ops.ClearDbServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>clearDbServlet</servlet-name>
		<url-pattern>/admin/clear_db</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>clearDbServlet</servlet-name>
		<url-pattern>/admin/clear_db/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>dumpServlet</servlet-name>
		<servlet-class>servlets.admin_ops.DumpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dumpServlet</servlet-name>
		<url-pattern>/admin/dump</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dumpServlet</servlet-name>
		<url-pattern>/admin/dump/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>newRestrServlet</servlet-name>
		<servlet-class>servlets.admin_ops.NewRestrServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>newRestrServlet</servlet-name>
		<url-pattern>/admin/new_restr</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>newRestrServlet</servlet-name>
		<url-pattern>/admin/new_restr/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>newTableKeyServlet</servlet-name>
		<servlet-class>servlets.admin_ops.NewTableKeyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>newTableKeyServlet</servlet-name>
		<url-pattern>/admin/new_table</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>newTableKeyServlet</servlet-name>
		<url-pattern>/admin/new_table/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>tmpServlet</servlet-name>
		<servlet-class>servlets.admin_ops.TmpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>tmpServlet</servlet-name>
		<url-pattern>/admin/tmp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>tmpServlet</servlet-name>
		<url-pattern>/admin/tmp/</url-pattern>
	</servlet-mapping>

	<!-- CX -->
	<servlet>
		<servlet-name>channelConnectServlet</servlet-name>
		<servlet-class>servlets.cx.ChannelConnectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>channelConnectServlet</servlet-name>
		<url-pattern>/_ah/channel/connected</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>channelConnectServlet</servlet-name>
		<url-pattern>/_ah/channel/connected/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>channelDisconnectServlet</servlet-name>
		<servlet-class>servlets.cx.ChannelDisconnectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>channelDisconnectServlet</servlet-name>
		<url-pattern>/_ah/channel/disconnected</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>channelDisconnectServlet</servlet-name>
		<url-pattern>/_ah/channel/disconnected/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>checkServlet</servlet-name>
		<servlet-class>servlets.cx.CheckServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>checkServlet</servlet-name>
		<url-pattern>/cx/check</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>checkServlet</servlet-name>
		<url-pattern>/cx/check/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>checkAllServlet</servlet-name>
		<servlet-class>servlets.cx.CheckAllServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>checkAllServlet</servlet-name>
		<url-pattern>/cx/check_all</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>checkAllServlet</servlet-name>
		<url-pattern>/cx/check_all/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>closeClientServlet</servlet-name>
		<servlet-class>servlets.cx.CloseClientServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>closeClientServlet</servlet-name>
		<url-pattern>/cx/close</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>closeClientServlet</servlet-name>
		<url-pattern>/cx/close/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emailServlet</servlet-name>
		<servlet-class>servlets.cx.EmailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emailServlet</servlet-name>
		<url-pattern>/cx/email</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>emailServlet</servlet-name>
		<url-pattern>/cx/email/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>heartbeatServlet</servlet-name>
		<servlet-class>servlets.cx.HeartbeatServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>heartbeatServlet</servlet-name>
		<url-pattern>/cx/heartbeat</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>heartbeatServlet</servlet-name>
		<url-pattern>/cx/heartbeat/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>initServlet</servlet-name>
		<servlet-class>servlets.cx.InitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>initServlet</servlet-name>
		<url-pattern>/cx/init</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>initServlet</servlet-name>
		<url-pattern>/cx/init/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>logPositionServlet</servlet-name>
		<servlet-class>servlets.cx.LogPositionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logPositionServlet</servlet-name>
		<url-pattern>/cx/log_pos</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logPositionServlet</servlet-name>
		<url-pattern>/cx/log_pos/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>payNewCardServlet</servlet-name>
		<servlet-class>servlets.cx.PayNewCardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>payNewCardServlet</servlet-name>
		<url-pattern>/cx/pay_saved</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>payNewCardServlet</servlet-name>
		<url-pattern>/cx/pay_saved/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>paySavedCardServlet</servlet-name>
		<servlet-class>servlets.cx.PaySavedCardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>paySavedCardServlet</servlet-name>
		<url-pattern>/cx/pay_new</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>paySavedCardServlet</servlet-name>
		<url-pattern>/cx/pay_new/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>rateServlet</servlet-name>
		<servlet-class>servlets.cx.RateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>rateServlet</servlet-name>
		<url-pattern>/cx/rate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>rateServlet</servlet-name>
		<url-pattern>/cx/rate/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>splitServlet</servlet-name>
		<servlet-class>servlets.cx.SplitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>splitServlet</servlet-name>
		<url-pattern>/cx/split</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>splitServlet</servlet-name>
		<url-pattern>/cx/split/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>uncheckServlet</servlet-name>
		<servlet-class>servlets.cx.UncheckServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>uncheckServlet</servlet-name>
		<url-pattern>/cx/uncheck</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>uncheckServlet</servlet-name>
		<url-pattern>/cx/uncheck/</url-pattern>
	</servlet-mapping>
</web-app>