@import "../../_ignore/main.scss";
@import "vars.scss";

a {
	cursor: pointer;
}
a.disabled {
	cursor: default;
}

body {
	@include no-text-adj();
	background: $bg-color;
	@include helvetica();
	margin: 0px;
	font-weight: 300;
	color: $text-color;
	position: relative;
}

.confirm {
	display: block;
	margin: $side-width/0.8;
	height: 2em;
	line-height: 2em;
	text-align: center;
	background: $btn-color;
	color: $btn-text-color;
	border-radius: 0.3em;
	font-size: 0.8em;
}
