@import "../../_ignore/main.scss";
@import "vars.scss";

a {
	@include user-select(none);
	cursor: pointer;
}
a.disabled {
	cursor: default;
}

body {
	@include no-text-adj();
	background: $bg-color;
	@include helvetica();
	margin: 0px;
	font-weight: 300;
	color: $text-color;
	position: relative;
}

.caption {
	font-size: 0.25em;
	margin: 0px 1em;
	color: $caption-color;
	text-transform: uppercase;
	font-weight: inherit;
}

.confirm {
	display: block;
	margin: ($side-width/$btn-font-size)*1em;
	height: $btn-height;
	line-height: $btn-height;
	text-align: center;
	background: $btn-color;
	color: $btn-text-color;
	@include border-radius($btn-border-radius);
	font-size: $btn-font-size;
	@include transitionColor();
	&.disabled {
		background: $disabled-btn-color;
		color: rgba(0,0,0,0.2);
	}
}

select { @include no-extra-style; }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[placeholder] { font-weight: 300; }
input::-webkit-input-placeholder { font-weight: 300; }
input:-moz-placeholder { font-weight: 300; }
input::-moz-placeholder { font-weight: 300; }
input:-ms-input-placeholder { font-weight: 300; }
