@import "../../_ignore/main.scss";
@import "vars.scss";

#cards-view {
	.caption {
		height: 2.5em;
		line-height: 2.5em;
	}

	.list {
		position: relative;
		@include transitionAll();

		/* Lines */
		&:before {
			@include thin-line(bottom);
			top: -1px;
		}
		&:after {
			@include thin-line();
			bottom: -1px;
		}

		.saved.card:after {
			@include thin-line(bottom);
			bottom: 0px;
		}
		.card p {
			&:before {
				@include thin-line();
				left: 2.5em;
			}
		}
		.new.card > a:after { 
			@include thin-line();
			bottom: -1px;
			left: 2.5em;
			width: auto;
		}
	}

	.card {
		background: $blur-color;
		position: absolute;
		left: 0px;
		right: 0px;
		width: 100%;
		height: 1em;
		&.new { bottom: 0px; }
		overflow: hidden;
		@include transitionAll();

		&.focus {
			background: $focus-color;
			& > a { cursor: default; }

			&.saved {
				height: 2em;
				&.reqPass { height: 3em; }
			}
			&.new {
				height: 7em;
				&.save {
					height: 8em;
					&.reqPass { height: 9em; }
				}
			}
		}
	}

	/* Cards Inner */
	.list .card > * {
		font-size: 0.4em;
		padding: 0px 0.8em 0px 2.5em;
		margin: 0px;
		height: 2.5em;
		line-height: 2.5em;
		position: relative;
		display: block;
		text-align: right;
	}

	.list .saved.card {
		.password { display: none; }
		&.reqPass .password { display: block; }
		.delete a {
			background: $btn-color;
			color: $btn-text-color;
			display: inline-block;
			padding: 0.4em 0.6em;
			border-radius: 0.4em;
			font-size: 0.8em;
			position: absolute;
			right: 1em;
			height: 1.2em;
			line-height: 1.2em;
			top: 0px;
			bottom: 0px;
			margin: auto;
		}
	}

	.list .card p, .list .card div {
		input[type="text"], input[type="number"], input[type="password"], select {
			border: none;
			padding: 0px 0.8em 0px 0px;
			margin: 0px;
			height: 100%;
			width: calc(100% - 3.3em);
			font-size: 1em;
			text-align: right;
			position: absolute;
			right: 0px;
			background: transparent;
		}

		&.expire select, &.expire input {
			width: calc(50% - 2.05em);
		}

		&.expire select {
			left: 2.5em;
			right: auto;
			padding: 0px;
		}

		&.save, &.reqPass {
			@include user-select(none);
			cursor: pointer;
		}
	}

	/* Icons */
	.list .new.card a.new:before {
		content: '+';
		position: absolute;
		font-size: 1.5em;
		left: 0.5em;
		top: 0.5em;
		width: 0.66667em;
		height: 0.45em;
		line-height: 0.45em;
		text-align: center;
		font-weight: 100;
	}
	.list .card .pan {
		&:before, &:after {
			position: absolute;
			width: 1.3em;
			left: 0.6em;
		}
		&:before {
			content: "";
			top: 0.85em;
			height: 0.8em;
			background-repeat: no-repeat;
			background-position: center;
		}

		&.visa:before {
			background-image: url('../../img/redesign/cards/visa.svg');
			background-size: 100% auto;
		}
		&.mastercard:before {
			background-image: url('../../img/redesign/cards/mastercard.svg');
			background-size: 100% auto;
		}
		&.amex:before {
			background-image: url('../../img/redesign/cards/amex.svg');
			background-size: auto 100%;
		}
		&.diners:before {
			background-image: url('../../img/redesign/cards/diners.svg');
			background-size: auto 100%;
		}
		&.discover:before {
			background-image: url('../../img/redesign/cards/discover.jpg');
			background-size: auto 100%;
		}
		&.jcb:before {
			background-image: url('../../img/redesign/cards/jcb.svg');
			background-size: auto 100%;
		}

		&.unknown:before {
			background-image: url('../../img/redesign/cards/card-border.svg');
			background-size: 100% 100%;
			@include opacity( 225 / 255 );
		}
		&.unknown:after {
			content: "";
			top: 1em;
			height: 0.15em;
			background: $text-color;
		}
	}

	&.tall .confirm { @include abs-confirm(); }
}
