@import "../../_ignore/main.scss";

a.loading {
	cursor: default !important;
	color: rgba(0,0,0,0) !important;
	text-shadow: 0px 0px rgba(0,0,0,0) !important;
	background: #B0B0B0 !important;
	background-image: url('../img/app/loading.gif') !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.2) !important;
}

a.loading > * {
	filter:alpha(opacity=0) !important;
	-ms-filter:"alpha(opacity=0)" !important;
	-o-filter:"alpha(opacity=0)" !important;
	-khtml-opacity: 0 !important;
	-moz-opacity: 0 !important;
	-webkit-opacity: 0 !important;
	-ms-opacity: 0 !important;
	-o-opacity: 0 !important;
	opacity: 0 !important;
}
