@import "../../_ignore/main.scss";
@import "vars.scss";

#loading-view .wrapper {
	text-align: center;
	height: 4em;
	line-height: 4em;

	.hide {
		display: none;
	}
	.dot {
		opacity: 0;
		@include prefixed(animation, loadingDot 1.2s infinite);
		&.one { @include prefixed(animation-delay, 0.0s); }
		&.two { @include prefixed(animation-delay, 0.1s); }
		&.three { @include prefixed(animation-delay, 0.2s); }
	}
}

@-webkit-keyframes loadingDot {
	  0% { opacity: 0; }
	 40% { opacity: 1; }
	 80% { opacity: 0; }
}

@-moz-keyframes loadingDot {
	  0% { opacity: 0; }
	 40% { opacity: 1; }
	 80% { opacity: 0; }
}

@-o-keyframes loadingDot {
	  0% { opacity: 0; }
	 40% { opacity: 1; }
	 80% { opacity: 0; }
}

@keyframes loadingDot {
	  0% { opacity: 0; }
	 40% { opacity: 1; }
	 80% { opacity: 0; }
}
