@import "../../_ignore/main.scss";
@import "vars.scss";

html, body, #body, #body > * {
	height: 100%;
	width: 100%;
}

#body {
	position: relative;
	overflow: hidden;

	& > * {
		-webkit-transition: top $trans-time, bottom $trans-time, left $trans-time, right $trans-time;
		-moz-transition: top $trans-time, bottom $trans-time, left $trans-time, right $trans-time;
		-o-transition: top $trans-time, bottom $trans-time, left $trans-time, right $trans-time;
		transition: top $trans-time, bottom $trans-time, left $trans-time, right $trans-time;
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: auto;
	}
	#loading-view, #split-view {
		height: 0px;
		overflow: hidden;
		top: 0px;
		bottom: 0px;
		margin: auto;
		@include transitionAll();
	}
}

#body.split {
	#split-view { height: 100%; }
}

#body.loading {
	#loading-view { height: 100%; }
}

#body.split, #body.loading {
	@each $i in ("receipt", "pay", "cards", "feedback") {
		&.#{$i} ##{$i}-view { -webkit-filter: blur(0.03em); }
		&.#{$i} ##{$i}-view { -webkit-filter: blur(0.03em); }
		&.#{$i} ##{$i}-view { -webkit-filter: blur(0.03em); }
		&.#{$i} ##{$i}-view { -webkit-filter: blur(0.03em); }
	}
}

#body.receipt {
	#pay-view { top: 100%; }
	#cards-view { left: 100%; }
	#feedback-view { left: 100%; }
}

#body.pay {
	#cards-view { left: 100%; }
	#feedback-view { left: 100%; }
}

#body.cards {
	#pay-view { left: -100%; }
	#feedback-view { left: 100%; }
}

#body.feedback {
	#pay-view { left: -100%; }
	#cards-view { left: 100%; }
}
