#view .contract {
	background: #FFF;
}

#view .contract .content {
	background: #FAFAFA;
    margin: 0em 0em 1em 0em;
    padding: 2em 2em 1em 2em;
	margin-bottom: calc(1em - 1px);
	border-bottom: 1px solid #AAA;
}

#feedback h1 {
	padding-top: 1em;
}

.tall #feedback .feedback {
	margin-top: -1.9em;
}

#feedback .self-promotion {
	padding-bottom: 1em;
	.tall & {
		bottom: 0px;
	}
}
