@import "../../../_ignore/main.scss";

#view {
	padding-top: 20px;
	.split &, .secFAQ &, .ccPolicy & {
		padding-top: 0px;
	}
}

#header {
	margin-top: 20px;
	border-top: 0.05em solid #000;
}

#view .contract {
	padding-top: 20px;
	height: -webkit-calc(100% - 20px);
	height: calc(100% - 20px);
}
