@import "../../_ignore/main.scss";

$sqrt2: 1.41421356237;
$line-height: 1.2em;

$width: 700px;
$h-padding: 20px;
$trans-time: 0.5s;
$min-width: $width + 2*$h-padding;

$dark-grey: #444444;
$light-grey: #CCCCCC;
$white: #FFFFFF;
$black: #1E1E1E;
$color: #0DAEA3;

$menu-fs: 24px;
$menu-height: 2.5em;
$menu-height-px: $menu-fs * ($menu-height / 1em);
$menu-margin: (1em / 3);
$menu-top-color: rgba(255, 255, 255, 0.95);
$menu-bottom-color: rgba(240, 240, 240, 0.95);
$menu-button-padding: 0px 0.6em;
$menu-button-radius: 0.4em;

$logo-ratio: (171.15 / 123.59);//From image
$logo-height: $menu-height - 2*$menu-margin;
$logo-width: round($logo-height / $logo-ratio);
$logo-space: 0.4;

$splash-margin: 60px;
$phone-height: 500px;
$phone-ratio: (500/240);//From image
$phone-width: round($phone-height / $phone-ratio);
$ss-width: 200px;
$splash-fs: 3.5em;
$splash-space: $h-padding;
$splash-lines: 4;
$splash-v-space: 50px;

$blurb-fs: 2em;
$blurb-margin: 1em;

$how-margin: 2em;
$how-text-color: $dark-grey;
$how-fs: 1.5em;
$how-space: 35px;
$how-info-width: round(($width - 2*$how-space)/3);
$how-img-opacity: (1 - (lightness($how-text-color) / 100%))*opacity($how-text-color);
$how-img-sz: 100px;
$how-img-border: 7px;
$how-img-padding: 10px;
$how-img-radius: 10px;
$check-ratio: 2.5;
$check-short: floor($how-img-sz * $sqrt2 / ($check-ratio + 1));
$check-long: floor($check-ratio*$check-short);
$check-width: round(0.1 * $how-img-sz);
$check-top-offset: round(-0.1 * $how-img-sz);
$check-left-offset: round(0.6 * $how-img-sz);

$footer-margin: 2em;

$popup-height: 185px;
$popup-width: 550px;
$popup-radius: 10px;
$popup-x-fs: 6em;
$popup-thank-fs: 3em;

a, input[type="button"] {
	cursor: pointer;
}

body {
	background: $dark-grey;
	margin: 0px;
	font-family: Lato;
	font-weight: 300;
	& > * {
		padding: 0px $h-padding;
			.wrapper {
			max-width: $width;
			margin: auto;
			position: relative;
		}
	}
}

#menu {
	z-index: 10;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	@include background-gradient(0deg, rgba(250, 250, 250, 0.98), rgba(255,255,255,0.98));
	overflow: visible;
	height: 0px;
	color: $white;
	@include box-shadow(0px 0px rgba(0,0,0,0.1));
	@include transition($trans-time, (height, color, box-shadow), ("", "", "wm"));
	font-size: $menu-fs;
	.wrapper {
		width: auto;
		max-width: $width;
	}
	img, span, a {
		top: 0px;
		display: inline-block;
		position: absolute;
	}
	img {
		height: $logo-height;
		margin: $menu-margin 0px;
		left: 0px;
		&.color {
			@include transition($trans-time, opacity);
			opacity: 0;
		}
	}
	span {
		font-family: Damion;
		height: $menu-height;
		line-height: $menu-height;
		left: $logo-width + $logo-space;
	}
	a {
		margin: $menu-margin 0px;
		height: $menu-height - 2*$menu-margin;
		line-height: $menu-height - 2*$menu-margin;
		right: 0px;
		padding: $menu-button-padding;
		background: rgba(255,255,255,0.1);
		@include transition($trans-time, (background, box-shadow), ("", "wm"));
		border-radius: $menu-button-radius;
		@include box-shadow(inset 0px -1px 2px -1px #000000);
	}
	&.scroll {
		height: $menu-height;//??
		color: $black;
		@include box-shadow(0px 1px rgba(0,0,0,0.1));
		img.color { opacity: 1 }
		a {
			background: $white;
			@include box-shadow(inset 0px -1px 2px -1px rgba(0,0,0,0.5));
		}
	}
}

@include keyframes(fadingImg) {
	0% { opacity: 0; }
	45% { opacity: 0; }
	50% { opacity: 1; }
	95% { opacity: 1; }
}

#splash {
	padding-top: $splash-margin + $menu-height-px;
	padding-bottom: $splash-margin + floor($menu-height-px / 3);
	@include background-gradient(0deg, #050505, $black);
	color: $white;
	font-size: $splash-fs;
	.ss {
		width: $phone-width;
		display: block;
		max-width: 100%;
		position: relative;
		$anim-period: ($trans-time / 0.05);
		img.phone {
			width: 100%;
		}
		img.pay, img.receipt {
			top: 0%;
			bottom: 0%;
			left: 1.25%;
			right: 0%;
			margin: auto;
			width: 100% * ($ss-width / $phone-width);
			position: absolute;
		}
		img.receipt {
			opacity: 0;
			@include prefixed(animation, fadingImg ($trans-time / 0.05) infinite);
		}
	}
	p {
		position: absolute;
		right: 0px;
		left: $phone-width + $splash-space;
		top: 0px;
		bottom: 0px;
		margin: auto;
		height: $line-height * $splash-lines;
		.short { display: none; }
		&.shorten {
			.short { display: inline; }
			.long { display: none; }
		}
	}
	&.split {
		p {
			position: static;
			width: 100%;
			text-align: center;
			margin-bottom: $splash-v-space;
		}
		.ss {
			margin: auto;
		}
	}
}

#blurb {
	background: $color;
	color: $white;
	font-size: $blurb-fs;
	padding-top: $blurb-margin;
	padding-bottom: $blurb-margin;
	text-align: center;
}

#how {
	background: $white;
	color: $how-text-color;
	font-size: $how-fs;
	padding-top: $how-margin;
	padding-bottom: $how-margin;
	.bluetooth, .order, .done {
		width: $how-info-width;
		text-align: center;
		margin: auto;
		position: absolute;
		top: 0px;
		display: block;
		img, .checkmark {
			padding: $how-img-padding;
			@include border-radius($how-img-radius);
			height: $how-img-sz;
			width: $how-img-sz;
			border: $how-img-border solid #000000;
			display: block;
			margin: auto;
		}
		img {
			opacity: $how-img-opacity;
		}
		.checkmark {
			border-color: rgba(0, 0, 0, $how-img-opacity);
			position: relative;
			&:before, &:after {
				content: " ";
				height: $check-long;
				width: $check-short;
				border-bottom: $check-width solid $color;
				border-right: $check-width solid $color;
				@include transform(rotate(45deg));
				position: absolute;
				top: $check-top-offset;
				left: $check-left-offset;
				z-index: 1;
				display: inline-block;
			}
			&:after {
				border-color: $white;
				border-right-width: 3*$check-width;
				left: $check-left-offset - $check-width;
				top: $check-top-offset - $check-width;
				height: $check-long + 2*$check-width;
				z-index: 0;
			}
		}
		p { margin-bottom: 0px; }
	}
	.bluetooth {
		position: relative;
		margin: 0px;
	}
	.order {
		left: 0px;
		right: 0px;
	}
	.done {
		right: 0px;
	}
	
}

@media (max-width: $min-width - 1px) {
	#how {
		.bluetooth {
			margin: 0px 50% 0px auto;
			padding: 0px round($how-space / 2) $how-space 0px;
		}
		.order {
			margin-left: 50%;
			padding-left: round($how-space / 2);
		}
		.done {
			position: relative;
		}
	}
}

@media (max-width: $min-width - $how-info-width - $how-space - 1px) {
	#how { .bluetooth, .order {
		position: relative;
		margin: auto;
		padding: 0px 0px $how-space 0px;
	} }
}

#footer {
	background: $dark-grey;
	color: $light-grey;
	text-shadow: #000000;
	padding: $footer-margin;
	a {
		float: right;
		color: inherit;
	}
}

#sign-up {
	position: fixed;
	z-index: 20;
	height: 0%;
	width: 100%;
	top: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	overflow: hidden;
	@include transition(0.5s, height);
	&.popup { height: 100%; }
	background: rgba(100, 100, 100, 0.6);
	background-image: url("../img/splash/texture.png");
	padding: 0px;

	a {
		color: #FFFFFF;
		font-size: $popup-x-fs;
		margin-left: 0.4em;//Because the "x" is short
	}

	.wrapper {
		position: absolute;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		height: $popup-height;
		width: $popup-width;
		margin: auto;
		overflow: hidden;
		@include border-radius($popup-radius);
		background: $white;
		@include box-shadow(0px 0px 10px 1px $color);
		& > * {
			position: absolute;
			height: 100%;
			width: 80%;
			margin: 0px 10%;
			top: 0px;
			@include transition(0.5s, left);
		}
		form {
			input { font-size: 1em; }
			input[type="email"] { width: 12em; margin-right: 0.5em; }
			input[type="text"] { width: 4em; }
			input[type="button"] { float: right; }
			left: 0%;
		}
		.thank {
			text-align: center;
			line-height: $popup-height;
			font-size: $popup-thank-fs;
			left: 100%;

		}
	}
	&.submit {
		form { left: -100%; }
		.thank { left: 0%; }
	}
	&.reset-popup .wrapper > * {
		@include transition(0s, all);
	}
}
