@import "../../../_ignore/main.scss";

#pay {
	padding: 0px 1em;
}

#pay h1 {
	text-align: center;
	img  {
		height: 0.534em;
	}
}

#pay .delete {
	@include btn-base(0.2em 0px, 0.25em 0px 0.15em 0px);
	@include btn-gradients("568CBE", "2C589B", "6798C5", "4269A5");
	font-size: 0.7em;
	@include border-radius(0.2em);
	position: relative;
	bottom: 0.15em;
	width: 6em;
}

#pay form {
	margin-top: 1.5em;
	position: relative;
}

#pay form > div {
	height: 3.5em;
	position: relative;
}

#pay .new-cc .expr-year, #pay .new-cc .zip {
	position: absolute;
	right: -2px;
}

#pay .new-cc .expr-year {
	top: 7em;
}

#pay .new-cc .zip {
	top: 10.5em;
}

#pay label {
	position: absolute;
	bottom: 1.5em;
	font-size: 0.6em;
	text-transform: uppercase;
}

#pay .new-cc input, #pay .new-cc select {
	width: 12.5em;
}

#pay form input {
	width: calc(12.5em - 2px);
}

#pay .new-cc .pan input, #pay .new-cc .name input {
	width: 100%;
}

#pay .confirm {
	margin-top: 1em;
}

#pay .cvv {
	display: inline-block;
}

#pay .new-cc select {
	@include no-extra-style;
	@include border-radius(0px);
	border: 1px solid #AAA;
}

#pay .cvv .explanation {
	position: absolute;
	bottom: 0.8em;
	right: 0px;
}

#pay .cvv .explanation > a {
	font-size: 0.5em;
	text-decoration: underline;
}

#pay .cvv .popup-bg {
	display: none;
}

#pay .cvv .popup-wrapper {
	font-size: 0.07em;
}

#pay .cvv .popup-wrapper p {
	padding: 0px 1em;
	text-align: center;
	font-size: 0.7em;
}

#pay .cvv .popup-wrapper img {
	width: 8em;
	display: block;
	margin: auto;
}

#pay .save, #pay .req-password {
	height: 2em;

	span {
		cursor: pointer;
	}

	input {
		width: auto;
		position: relative;
		bottom: 0.2em;
	}
}

#pay .save a {
	position: absolute;
	right: 2px;
	text-decoration: underline;
}

#pay .password span {
	position: absolute;
	right: 2px;
	top: 0px;
	font-size: 0.7em;
	max-width: 17em;
	color: #F00;
}

#pay .ccPolicy {
	font-size: 0.8em;
}

#pay .ccPolicy a {
	text-decoration: underline;
}

#pay .encrypted-cc .cvv {
	position: absolute;
	top: 0px;
	right: 2px;
}
