@import "../../../_ignore/main.scss";

#split {
	position: relative;
	padding-bottom: 2em;
	margin-bottom: 1em;
}

#split p {
	padding: 0px 1em;
}

#split .items {
	list-style-type: none;
	padding: 0px 1em;
	margin: 0px auto 2em 0px;
}

#split .item {
	position: relative;
	border: 1px solid rgba(0,0,0,0.5);
	margin: 0.8em 0px;
	@include border-radius(1em);
	@include box-shadow(inset 0.05em 0.05em 0.05em 0px rgb(255, 255, 255), inset -0.05em -0.05em 0.05em 0px rgba(0, 0, 0, 0.1));
}

#split .item.selected {
	color: #FFF;
	@include text-shadow(1px 1px rgba(0,0,0,0.3));
	@include background-gradient(top, "568CBE", 0, "2C589B", 100);
	@include box-shadow(inset 0.05em 0.05em 0.05em 0px rgba(255, 255, 255, 0.3), inset -0.05em -0.05em 0.05em 0px rgba(0, 0, 0, 0.1));
}

#split .item a {
	display: block;
	height: 100%;
	padding: 0.5em 1em;
}

#split .item .price {
	position: absolute;
	right: 1em;
}

#split .item .mods {
	list-style-type: none;
	padding-left: 1em;
}

#split .item .mod {
	margin-top: 0.3em;
	font-size: 0.8em;
}

#split .others {
	display: none;
	position: absolute;
	top: -0.9em;
	right: -0.5em;
	background: #E00;
	@include border-radius(0.7em);
	font-size: 0.7em;
	color: #FFF;
	padding: 0.1em 0.5em;
	border: 1px solid rgba(0,0,0,0.1);
	@include box-shadow(inset 1px 1px 1px 0px rgba(255,255,255,0.4), inset -1px -1px 1px 0px rgba(0,0,0,0.1), 0.05em 0.1em 0.1em -0.05em rgba(0,0,0,0.2));
}

#split .item.has-others .others {
	display: inline-block;
}

#split a.confirm {
	position: absolute;
	bottom: 0px;
	left: 50%;
	margin: 0px 0px 0px -5em;
}

#split a.cancel {
	@include btn-base(0.3em, 0.35em 0.3em 0.25em 0.3em, true);
	@include btn-gradients("8C8C8C", "646464", "989898", "747474");
	font-size: 1.5em;
	display: block;
	width: 4em;
	@include border-radius(0.2em);
	position: absolute;
	bottom: 0px;
	right: 50%;
	margin-right: -5em;
}
